{% extends "base.html" %}
{% block title %}
Knave Bestiary
{% endblock %}
{% block content %}

<h1>Monsters</h1>

<br>
<div class="row">
{% for monster in monster_list %}
<div class="card m-2" style="width: 18rem;">
  <!--<img class="card-img-top" src=".../100px180/" alt="Card image cap">-->
  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'monsters:detail' monster.pk %}">{{ monster.name|title }}</a></h5>
    <p class="card-text"><b>LVL: </b>{{ monster.level }}</p>
    <p class="card-text"><b>HP: </b>{{ monster.hp }}</p>
   {% if monster.ac %}<p class="card-text"><b>AC: </b>{{ monster.ac }}</p>{% endif %}

    <a href="{% url 'monsters:detail' monster.pk %}" class="btn btn-primary">Details</a>
  </div>
</div>
{% endfor %}
</div>


{% endblock %}
